*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: whitesmoke;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 15px 80px;
    background-color: white;
}
nav ul li {
    display: inline;
    list-style: none;
}
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.233);
    font-size: 14px;
    font-weight: 600;
}
li {
    margin-left: 40px;
}
.agency{
    font-weight: lighter;
}
.image{
    width: 100%;
    height: 570px;
}
.box1{
    position: absolute;
    height: 210px;
    width: 650px;
    top: 220px;
    background-color: #08b8789c;
    color: rgba(255, 255, 255, 0.815);
}
.box-text{
    margin: 30px 30px 30px 80px;
    line-height: 2;
}
.p-text{
    font-size: small;
}
.h-text{
    margin-bottom: 10px;
    font-weight: bolder;
}
.end-box {
    text-align: center;
    margin-top: 25px;
}
button {
    color: rgba(255, 255, 255, 0.808);
    background-color:#08b878de ;
    border: none;
    width: 150px;
    font-weight: 400;
    font-size: large;
    padding: 3px 0 3px 0;
    margin-bottom: 15px;
}
.p-end{
    color: rgba(0, 0, 0, 0.473);
}
.box2 {
    background-color: #08b878de;
    height: 160px;
    width: 40px;  
    position: absolute;
    right: 190px;
    top: 230px;
}
.arrow{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-stretch: ultra-condensed;
}